$def :#a8a8a8;

%montserrat {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 500;
  font-style: normal;
}

%mirra{
  font-family: 'Mirra Auriolic Regular';
  font-style: normal;
  font-weight: normal;
}

